@model List<MovieTickets.Domain.DomainModels.Order>

<div class="container">

    <table class="table mt-5">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Costumer Details</th>
                <th scope="col">Number of Tickets</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                var item = Model[i];

                <tr>
                    <th scope="row">@(i + 1)</th>
                    <td>@item.Owner.Email - @item.Owner.FirstName  @item.Owner.LastName</td>
                    <td>@item.OrderMovieTickets.Count()</td>
                    <td><a class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a></td>
                    <td><a class="btn btn-outline-primary" asp-action="CreateInvoice" asp-route-id="@item.Id">Create Invoice</a></td>
                </tr>

            }
        </tbody>


    </table>

</div>